body{
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  /* max-width: 1280px; */
  /* background-color: green; */
}
li{
color:  #16a085;
font-size: 18px;/* Приближение из-за подстановки шрифтов */
line-height: 50px;/* Приближение из-за подстановки шрифтов */
text-align: left;
}
ul.menu {
  text-align: center;
  margin: 0; /* Обнуляем значение отступов */
  padding: 20px; /* Значение полей */
}
ul.menu li {
  display: inline; /* Отображать как строчный элемент */
  margin-right: 5px; /* Отступ слева */
  padding: 3px; /* Поля вокруг текста */
  padding: 65px;
}

.header-image{
  /* width: 100vw; */
  height: 100vh;
  background-image: url("../images/top.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main{
  color:  #373737;
  font-size: 16px;/* Приближение из-за подстановки шрифтов */
  line-height: 30px;/* Приближение из-за подстановки шрифтов */
  text-align: center;
  padding: 50px;
  /* width: 99vw; */
  /* height: 100vh; */
  background-image: url("../images/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1#caption{
  text-transform: uppercase;
  padding: 10px 0 30px 0;
}
h1, .first-text, .second-text{
  padding: 0 30px 30px 30px;
}
button{
  border: none;
  border-radius: 3px;
  background-color:  #16a085;
  width: 192px;
  height: 51px;
  color:  #ffffff;
  font-size: 12px;/* Приближение из-за подстановки шрифтов */
  line-height: 20px;/* Приближение из-за подстановки шрифтов */
  text-align: center;
  margin-bottom: 50px;
}
.copyright{
  display: block;
  color:  #373737;
  font-size: 16px;/* Приближение из-за подстановки шрифтов */
  text-align: right;
  padding: 40px;
}
